Repository kjanat/github-labelmanager: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, typecheck, test, schemagen

lint:
  run: deno lint --fix
  stage_fixed: true

fmt:
  run: deno fmt {staged_files}
  stage_fixed: true

typecheck:
  run: deno check --all {staged_files}

test:
  run: deno test -RWE {staged_files}

schemagen:
  run: 'deno run -RWE scripts/build_schema.ts \
  
    && git add .github/labels.schema.json
  
    '

ci(check-schema-outdated): use GitHub context for commit hash and improve summary formatting
  .github/actions/check-schema-outdated/.env.example
  .github/actions/check-schema-outdated/.gitignore
  .github/actions/check-schema-outdated/.prettierrc.yml
  .github/actions/check-schema-outdated/__fixtures__/core.ts
  .github/actions/check-schema-outdated/__fixtures__/github.ts
  .github/actions/check-schema-outdated/__tests__/checkSchemaDiff.test.ts
  .github/actions/check-schema-outdated/__tests__/codeFence.test.ts
  .github/actions/check-schema-outdated/__tests__/getCommitHash.test.ts
  .github/actions/check-schema-outdated/__tests__/main.test.ts
  .github/actions/check-schema-outdated/__tests__/mocks.ts
  .github/actions/check-schema-outdated/bun-test.yaml
  .github/actions/check-schema-outdated/bun.lock
  .github/actions/check-schema-outdated/dist/index.d.mts
  .github/actions/check-schema-outdated/dist/index.mjs
  .github/actions/check-schema-outdated/dist/index.mjs.map
  .github/actions/check-schema-outdated/eslint.config.mjs
  .github/actions/check-schema-outdated/package.json
  .github/actions/check-schema-outdated/src/checkSchemaDiff.ts
  .github/actions/check-schema-outdated/src/codeFence.ts
  .github/actions/check-schema-outdated/src/getCommitHash.ts
  .github/actions/check-schema-outdated/src/index.ts
  .github/actions/check-schema-outdated/src/main.ts
  .github/workflows/update-schema.yml
Due: lint, fmt, typecheck

test: separate test files from source for cleaner project structure
  __tests__/scripts/build_schema_test.ts
  __tests__/src/adapters/client/base_test.ts
  __tests__/src/adapters/client/octokit_test.ts
  __tests__/src/adapters/logger/actions_test.ts
  __tests__/src/adapters/logger/console_test.ts
  __tests__/src/client_test.ts
  __tests__/src/config_test.ts
  __tests__/src/factory_test.ts
  __tests__/src/main_test.ts
  __tests__/src/sync_test.ts
  deno.json
  scripts/build_npm.ts
  scripts/build_schema.ts
Due: lint, fmt, typecheck

feat(action): add comment-pkg-pr action for pkg-pr-new publish notifications
  .github/actions/comment-pkg-pr/.gitattributes
  .github/actions/comment-pkg-pr/.gitignore
  .github/actions/comment-pkg-pr/.prettierignore
  .github/actions/comment-pkg-pr/CLAUDE.md
  .github/actions/comment-pkg-pr/README.md
  .github/actions/comment-pkg-pr/__fixtures__/core.ts
  .github/actions/comment-pkg-pr/__fixtures__/github.ts
  .github/actions/comment-pkg-pr/__tests__/comment.test.ts
  .github/actions/comment-pkg-pr/__tests__/format.test.ts
  .github/actions/comment-pkg-pr/__tests__/mocks.ts
  .github/actions/comment-pkg-pr/__tests__/run.test.ts
  .github/actions/comment-pkg-pr/action.yml
  .github/actions/comment-pkg-pr/bun.lock
  .github/actions/comment-pkg-pr/eslint.config.mjs
  .github/actions/comment-pkg-pr/package.json
  .github/actions/comment-pkg-pr/src/comment.ts
  .github/actions/comment-pkg-pr/src/format.ts
  .github/actions/comment-pkg-pr/src/index.ts
  .github/actions/comment-pkg-pr/src/run.ts
  .github/actions/comment-pkg-pr/src/types.ts
  .github/actions/comment-pkg-pr/tsconfig.json
  .github/actions/comment-pkg-pr/tsdown.config.ts
  .github/workflows/pkg-pr-new.yml
  README.md
  deno.json
  deno.lock
Due: lint, fmt, typecheck

fix: address PR review comments
  .github/actions/setup-deno/action.yml
  .github/workflows/publish.yml
  .opencode/command/review.sh
  .opencode/command/suggest-refactor.md
  .opencode/opencode.jsonc
  .zed/settings.json
  main.ts
Due: lint, fmt, typecheck

fix: address critical PR review comments
  .github/actions/check-schema-outdated/src/index.ts
  .github/actions/update-git-tags/entrypoint.sh
  .github/labels.yml
  Dockerfile
Due: lint, fmt, typecheck

fix: address more PR review comments
  .github/actions/check-schema-outdated/.gitignore
  .github/actions/setup-deno/action.yml
  .github/actions/update-git-tags/Dockerfile
  .github/workflows/publish.yml
  .opencode/agent/git-committer.md
  .opencode/command/spellcheck.md
  .opencode/opencode.jsonc
  .zed/settings.json
  __tests__/src/factory_test.ts
Due: lint, fmt, typecheck

fix: make LabelColorUtils.is() handle 3-char hex like parse()
  src/labels-model.ts
Due: lint, fmt, typecheck, test

fix: improve error handling and code quality
  .github/actions/check-schema-outdated/src/checkSchemaDiff.ts
  .github/actions/comment-pkg-pr/src/index.ts
  .github/actions/update-git-tags/entrypoint.sh
  .github/actions/update-git-tags/entrypoint.ts
Due: lint, fmt, typecheck

fix: more PR review fixes
  .github/actions/comment-pkg-pr/CLAUDE.md
  .github/actions/comment-pkg-pr/action.yml
  .github/workflows/README.md
Due: fmt

fix: improve git error handling and fix gitignore patterns
  .github/actions/comment-pkg-pr/.gitignore
  .github/actions/update-git-tags/entrypoint.ts
Due: lint, fmt, typecheck

fix: address multiple PR review comments
  .github/actions/comment-pkg-pr/.gitignore
  .github/actions/comment-pkg-pr/dist/index.d.mts
  .github/actions/comment-pkg-pr/dist/index.mjs
  .github/actions/comment-pkg-pr/dist/index.mjs.map
  .github/actions/comment-pkg-pr/eslint.config.mjs
  .github/actions/update-git-tags/entrypoint.sh
  .github/actions/update-git-tags/entrypoint.ts
  .lefthook.yml
  scripts/sort-schema.ts
Due: lint, fmt, typecheck

chore: ignore package-lock.json (project uses bun)
  .github/actions/comment-pkg-pr/.gitignore
Due: none

Enhance setup-deno action with Bun support
  .github/actions/setup-deno/action.yml
Due: fmt

fix: address additional PR review comments
  .github/actions/check-schema-outdated/src/checkSchemaDiff.ts
  .github/actions/setup-deno/action.yml
  .github/actions/update-git-tags/entrypoint.ts
  .opencode/command/review.sh
  __tests__/src/factory_test.ts
  scripts/sort-schema.ts
  src/labels-model.ts
Due: lint, fmt, typecheck, test

fix: prevent injection in entrypoint.sh deno eval
  .github/actions/update-git-tags/entrypoint.sh
Due: none

fix: preserve stack trace and document conditional output
  .github/actions/check-schema-outdated/src/checkSchemaDiff.ts
  .github/actions/setup-deno/action.yml
Due: lint, fmt, typecheck

fix: improve error handling in entrypoint scripts
  .github/actions/update-git-tags/entrypoint.sh
  .github/actions/update-git-tags/entrypoint.ts
Due: lint, fmt, typecheck

refactor: extract normalizeHexCandidate helper in LabelColorUtils
  src/labels-model.ts
Due: lint, fmt, typecheck, test

fix: display hex color code in summary table color column
  src/adapters/logger/actions.ts
Due: lint, fmt, typecheck, test

test: add formatError test for real Error instance with status
  __tests__/src/client_test.ts
Due: lint, fmt, typecheck

fix: remove quotes from file paths in .env.example
  .github/actions/check-schema-outdated/.env.example
Due: none

refactor: use options object for LabelManager constructor DI
  __tests__/src/sync_test.ts
  main.ts
  src/client.ts
  src/testing.ts
Due: lint, fmt, typecheck, test

fix: use ESM export syntax in YAML type declaration
  .github/actions/check-schema-outdated/bun-test.yaml.d.ts
Due: lint, fmt, typecheck

fix: remove dead ESLint rule overrides for unregistered plugins
  .github/actions/check-schema-outdated/eslint.config.mjs
Due: none

refactor: consolidate action tsconfig files with shared base
  .github/actions/check-schema-outdated/tsconfig.json
  .github/actions/comment-pkg-pr/tsconfig.json
  .github/actions/tsconfig.base.json
Due: fmt

Path conditions:
  lint: any of: *.ts
  fmt: any of: *.{ts,md,yml,yaml,json,jsonc}
  typecheck: any of: *.ts
  test: any of: src/*.ts
  schemagen: any of: src/types.ts
