Repository kjanat/github-labelmanager: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, test, schemagen

.lefthook.yml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json
# https://lefthook.dev/configuration/
---
min_version: "1.5.0"

pre-commit:
  parallel: false # Sequential for deterministic order
  commands:
    ai-confirmation:
      priority: 1
      interactive: true
      run: |
        # Skip in CI environments
        { [ -n "$CI" ] || [ -n "$GITHUB_ACTIONS" ] || [ -n "$GITLAB_CI" ]; } && exit 0

        # Detect AI sessions (explicit env vars only, not [ ! -t 0 ])
        is_ai_session() {
          [ -n "$OPENCODE_SESSION" ] || \
          [ -n "$CURSOR_SESSION" ] || \
          [ -n "$AIDER_SESSION" ] || \
          [ -n "$CLINE_SESSION" ] || \
          [ -n "$CLAUDE_SESSION" ]
        }

        # Skip if human-verified or not AI session
        [ "$HUMAN_VERIFIED" = "1" ] && exit 0
        is_ai_session || exit 0

        echo "========================================"
        echo "AI-INITIATED COMMIT - APPROVAL REQUIRED"
        echo "========================================"
        echo ""
        git diff --cached --stat
        echo ""
        count=$(git diff --cached --name-only | wc -l)
        [ "$count" -gt 10 ] && echo "($count files total)"
        echo ""

        # Check for TTY
        if [ -t 0 ] && [ -t 1 ]; then
          printf "Approve? [y/N]: "
          read -r answer
        elif [ -e /dev/tty ]; then
          printf "Approve? [y/N]: " > /dev/tty
          read -r answer < /dev/tty
        else
          echo "ERROR: No TTY available for confirmation"
          echo "Options: HUMAN_VERIFIED=1 git commit -m '...'"
          exit 1
        fi

        [ "$answer" = "y" ] || [ "$answer" = "Y" ] || { echo "Rejected"; exit 1; }
        echo "Approved"
      skip:
        - merge
        - rebase

    lint:
      priority: 2
      glob: "*.ts"
      exclude: ".github/actions/**/*.ts"
      run: deno lint --fix {staged_files}
      stage_fixed: true

    fmt:
      priority: 3
      glob: "*.{ts,md,yml,yaml,json,jsonc}"
      run: deno fmt {staged_files}
      stage_fixed: true

    typecheck:
      priority: 4
      glob: "*.ts"
      exclude: ".github/actions/**/*.ts"
      run: deno check --all {staged_files}

    test:
      priority: 4
      glob: "src/*.ts"
      run: deno test -RWE {staged_files}

    schemagen:
      priority: 5
      glob: "src/types.ts"
      run: |
        set -e
        deno run -RWE scripts/build_schema.ts
        git add .github/labels.schema.json

commit-msg:
  commands:
    commitlint:
      run: deno run -A npm:@commitlint/cli --edit {1}

refactor: remove type assertion workarounds in tests
  __tests__/src/sync_test.ts
Due: fmt

refactor: derive routeToMethod from methodToRoute in base_test.ts
  __tests__/src/adapters/client/base_test.ts
Due: fmt

refactor: extract shared renderBodyBlock helper in format.ts
  .github/actions/comment-pkg-pr/src/format.ts
Due: fmt

style: format
  README.md
  __tests__/src/adapters/logger/actions_test.ts
  scripts/build_npm.ts
  src/adapters/client/actions.ts
  src/adapters/client/octokit.ts
Due: fmt, test

chore: update deno lockfile
  deno.lock
Due: none

fix: resolve lint and type-check errors for deno check --all
  .lefthook.yml
  __tests__/src/sync_test.ts
  deno.json
  src/sync.ts
Due: fmt, test

fix: handle undefined label colors and improve CI validation
  .github/actions/comment-pkg-pr/__tests__/run.test.ts
  .github/actions/publish-npm/npm.sh
  .github/actions/setup-deno/action.yml
  .github/labels.schema.json
  __tests__/scripts/build_schema_test.ts
  __tests__/src/adapters/client/base_test.ts
  __tests__/src/adapters/logger/actions_test.ts
  __tests__/src/sync_test.ts
  deno.lock
  scripts/build_schema.ts
  scripts/sort-schema.ts
  src/adapters/logger/actions.ts
  src/labels-model.ts
  src/mod.ts
  src/sync.ts
Due: fmt, test

test: assert mock was called before accessing call args
  .github/actions/comment-pkg-pr/__tests__/run.test.ts
Due: fmt

chore: add pre-commit formatting hook for GitHub Actions
  .lefthook.yml
Due: fmt

ci(release-drafter): add autolabeler and enhance release notes
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: fmt

chore: release v1.1.0
  deno.json
Due: fmt

ci: fix GitHub release publish failing on stable versions
  .github/workflows/publish.yml
Due: fmt

ci: fix Update Schema workflow after scripts/ directory rename
  .github/release-drafter.yml
  .github/workflows/update-schema.yml
Due: fmt

ci: remove registry-url from setup-node to stop leaking npmrc config
  .github/actions/setup-deno/action.yml
Due: fmt

ci: skip npm publish if version already exists on re-run
  .github/actions/publish-npm/npm.sh
Due: none

ci: skip JSR publish if version already exists on re-run
  .github/workflows/publish.yml
Due: fmt

chore: deno fmt
  .github/copilot-instructions.md
Due: fmt

docs: add repository Copilot operating instructions (#9)
  .github/copilot-instructions.md
Due: fmt

feat: v2 declarative sync - config file is now source of truth
  .github/labels.schema.json
  .github/labels.yml
  __tests__/src/sync_test.ts
  src/config.ts
  src/domain/labels.ts
  src/schema.ts
  src/sync.ts
Due: fmt, test

ci: add Claude GitHub Actions workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .gitignore
Due: fmt

ci: add Claude GitHub Actions workflows (#10)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .gitignore
Due: fmt

ci: add explicit permissions to validate job
  .github/workflows/publish.yml
Due: fmt

chore: bump version to 2.0.0-alpha
  deno.json
Due: fmt

fix: ignore patterns now match labels case-insensitively
  __tests__/src/sync_test.ts
  src/domain/labels.ts
  src/sync.ts
Due: fmt, test

test: cover octokit list errors and label validation
  __tests__/src/adapters/client/octokit_test.ts
  __tests__/src/domain/labels_test.ts
Due: fmt

chore: add biome lint tasks and config
  biome.jsonc
  deno.json
  deno.lock
Due: fmt

build: add descriptions to deno tasks for better discoverability
  deno.json
Due: fmt

fix: correct AGENTS.md symlink path in check-schema-outdated
  .github/actions/check-schema-outdated/AGENTS.md
Due: fmt

fix: use github.action_path for cli/main.ts path
  action.yml
Due: fmt

bye bye
  .github/actions/check-schema-outdated/dist/index.d.mts
  .github/actions/check-schema-outdated/dist/index.mjs
  .github/actions/check-schema-outdated/dist/index.mjs.map
Due: none

refactor: remove dead code, fix type safety
  __tests__/src/domain/labels_test.ts
  src/client.ts
  src/domain/labels.ts
  src/domain/mod.ts
  src/schema.ts
Due: fmt, test

refactor: biome formatting, dep cleanup, import normalization
  .opencode/opencode.jsonc
  deno.json
  deno.lock
  src/sync.ts
Due: fmt, test

refactor: eliminate type assertions in config and sort-schema
  src/config.ts
  src/tools/sort-schema.ts
Due: fmt, test

dprint fmt .
  .opencode/opencode.jsonc
  __tests__/src/domain/labels_test.ts
  deno.json
  deno.lock
  src/client.ts
  src/config.ts
  src/domain/labels.ts
  src/domain/mod.ts
  src/schema.ts
  src/sync.ts
  src/tools/sort-schema.ts
Due: fmt, test

feat: migrate CLI to dreamcli schema-first framework
  __tests__/src/config_test.ts
  __tests__/src/main_test.ts
  cli/command.ts
  cli/help.ts
  cli/main.ts
  deno.json
  deno.lock
  src/config.ts
  src/domain/labels.ts
  src/mod.ts
Due: fmt, test

feat: add examples, alias, spinner, shell completions
  cli/command.ts
  cli/main.ts
Due: fmt
