Repository kjanat/github-labelmanager: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, test, schemagen

fmt:
  priority: 3
  run: deno fmt {staged_files}
  stage_fixed: true

test:
  priority: 4
  run: deno test -RWE {staged_files}

schemagen:
  priority: 5
  run: 'set -e
  
    deno run -RWE scripts/build_schema.ts
  
    git add .github/labels.schema.json
  
    '

chore: switch formatter to dprint, align deno fmt config
  .zed/settings.json
  AGENTS.md
  deno.json
Due: fmt

feat: add glob-to-regexp shim for dnt npm build compat
  .lefthook.yml
  .opencode/opencode.jsonc
  deno.json
  deno.lock
  src/sync.ts
Due: fmt, test

chore: update deps, fix build, clean config
  biome.json
  cli/build/npm.ts
  deno.json
  deno.lock
  src/sync.ts
  src/tools/sort-schema.ts
  tsconfig.json
Due: fmt, test

refactor(build): structural deno.json patching, derive CLI metadata
  cli/build/npm.ts
  cli/main.ts
  deno.lock
Due: fmt

fix(hooks): stage deno.lock after typecheck
  .lefthook.yml
  deno.lock
Due: fmt

chore(ci): bump GitHub Actions dependencies
  .github/actions/setup-deno/action.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/security.yml
  .github/workflows/update-schema.yml
  .github/workflows/update-tags.yml
Due: fmt

chore: ignore opencodetmp/ directory
  .gitignore
Due: none

fix: use string paths in npm build, remove dead ConfigError
  AGENTS.md
  cli/build/npm.ts
  cli/command.ts
  deno.json
Due: fmt

refactor: migrate import aliases, improve schema descriptions
  .dprint.jsonc
  .github/labels.schema.json
  __tests__/scripts/build_schema_test.ts
  __tests__/src/adapters/client/base_test.ts
  __tests__/src/adapters/client/octokit_test.ts
  __tests__/src/adapters/logger/actions_test.ts
  __tests__/src/adapters/logger/console_test.ts
  __tests__/src/client_test.ts
  __tests__/src/config_test.ts
  __tests__/src/domain/labels_test.ts
  __tests__/src/factory_test.ts
  __tests__/src/sync_test.ts
  biome.json
  cli/build/schema.ts
  cli/command.ts
  cli/main.ts
  deno.json
  deno.lock
  src/adapters/client/actions.ts
  src/adapters/client/base.ts
  src/adapters/client/mod.ts
  src/adapters/client/octokit.ts
  src/adapters/logger/actions.ts
  src/adapters/logger/console.ts
  src/adapters/logger/mod.ts
  src/ports/logger.ts
  src/schema.ts
  src/testing/fixtures.ts
  src/testing/mocks.ts
  src/testing/mod.ts
  src/testing/stubs.ts
Due: fmt, test

refactor: sort interface members, remove non-null assertions
  __tests__/src/adapters/client/base_test.ts
  __tests__/src/adapters/logger/actions_test.ts
  __tests__/src/config_test.ts
  biome.json
  cli/build/npm.ts
  cli/build/schema.ts
  cli/main.ts
  deno.lock
  src/adapters/client/octokit.ts
  src/adapters/logger/actions.ts
  src/domain/labels.ts
  src/domain/types.ts
  src/ports/github.ts
  src/ports/logger.ts
  src/schema.ts
  src/sync.ts
  src/testing/fixtures.ts
  src/testing/mocks.ts
  src/tools/sort-schema.ts
Due: fmt, test

style: reformat to 120-char line width via dprint
  .dprint.jsonc
  .github/actions/update-git-tags/entrypoint.ts
  .zed/settings.json
  JSR_README.md
  NPM_README.md
  README.md
  __tests__/scripts/build_schema_test.ts
  __tests__/src/adapters/client/base_test.ts
  __tests__/src/adapters/client/octokit_test.ts
  __tests__/src/adapters/logger/actions_test.ts
  __tests__/src/config_test.ts
  __tests__/src/domain/labels_test.ts
  __tests__/src/factory_test.ts
  __tests__/src/main_test.ts
  __tests__/src/sync_test.ts
  cli/build/npm.ts
  cli/build/schema.ts
  cli/command.ts
  deno.lock
  src/adapters/client/actions.ts
  src/adapters/client/base.ts
  src/adapters/client/octokit.ts
  src/adapters/logger/actions.ts
  src/adapters/logger/console.ts
  src/client.ts
  src/config.ts
  src/domain/labels.ts
  src/factory.ts
  src/ports/github.ts
  src/schema.ts
  src/sync.ts
  src/testing/fixtures.ts
  src/testing/mocks.ts
  src/tools/sort-schema.ts
Due: fmt, test

ci: switch formatting to dprint, add shfmt setup
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/update-labels.yml
  .github/workflows/update-schema.yml
Due: fmt

docs: add v2 master plan, design types, and PRD
  .markdownlint.json
  .opencode/state/world-class-label-sync-v2/prd.json
  .opencode/state/world-class-label-sync-v2/progress.txt
  TODO-PLAN.md
  specs/types.ts
  specs/world-class-label-sync-master-plan.md
Due: fmt

docs: add badges, cross-registry install, license attribution
  .markdownlint.json
  JSR_README.md
  NPM_README.md
  README.md
Due: fmt

docs: tighten v2 acceptance criteria and type contracts
  .opencode/state/world-class-label-sync-v2/prd.json
  .opencode/state/world-class-label-sync-v2/progress.txt
  specs/backlog.md
  specs/types.ts
  specs/world-class-label-sync-master-plan.md
Due: fmt

docs: add hierarchical AGENTS.md knowledge base
  .github/actions/AGENTS.md
  AGENTS.md
  __tests__/AGENTS.md
  cli/AGENTS.md
  src/AGENTS.md
  src/adapters/AGENTS.md
  src/domain/AGENTS.md
  src/ports/AGENTS.md
  src/testing/AGENTS.md
Due: fmt

docs: specify doctor write-probe defaults and algorithm
  .opencode/state/world-class-label-sync-v2/prd.json
  .opencode/state/world-class-label-sync-v2/progress.txt
  specs/types.ts
  specs/world-class-label-sync-master-plan.md
Due: fmt

chore: fix action dist, bump deps, sort imports
  .github/actions/check-schema-outdated/__fixtures__/core.ts
  .github/actions/check-schema-outdated/__fixtures__/exec.ts
  .github/actions/check-schema-outdated/__tests__/main.test.ts
  .github/actions/check-schema-outdated/dist/index.mjs
  .github/actions/check-schema-outdated/dist/index.mjs.map
  .github/actions/check-schema-outdated/src/main.ts
  .github/actions/comment-pkg-pr/__fixtures__/core.ts
  .github/actions/comment-pkg-pr/__fixtures__/github.ts
  .github/actions/comment-pkg-pr/__tests__/comment.test.ts
  .github/actions/comment-pkg-pr/action.yml
  .github/actions/comment-pkg-pr/src/format.ts
  .github/actions/comment-pkg-pr/src/run.ts
  .github/actions/update-git-tags/entrypoint.ts
  __tests__/scripts/build_schema_test.ts
  __tests__/src/adapters/client/octokit_test.ts
  __tests__/src/config_test.ts
  __tests__/src/factory_test.ts
  __tests__/src/sync_test.ts
  cli/main.ts
  deno.json
  deno.lock
  src/adapters/logger/actions.ts
  src/adapters/logger/console.ts
  src/client.ts
  src/domain/labels.ts
  src/factory.ts
  src/mod.ts
  src/ports/github.ts
  src/sync.ts
  src/testing/mocks.ts
  src/testing/stubs.ts
Due: fmt, test

Path conditions:
  fmt: any of: *.{ts,md,yml,yaml,json,jsonc}
  test: any of: src/*.ts
  schemagen: any of: src/types.ts
