Repository kjanat/github-labelmanager: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, typecheck, test

lint:
  run: deno lint --fix
  stage_fixed: true

fmt:
  run: deno fmt {staged_files}
  stage_fixed: true

typecheck:
  run: deno check --all {staged_files}

test:
  run: deno test -RW {staged_files}

feat(opencode): adds opencode agent docs and tooling scaffold
  .opencode/agent/docs.md
  .opencode/agent/git-committer.md
  .opencode/command/commit.md
  .opencode/command/hello.md
  .opencode/command/issues.md
  .opencode/command/review.md
  .opencode/command/review.sh
  .opencode/command/spellcheck.md
  .opencode/command/suggest-refactor.md
  .opencode/command/suggest-refactor.sh
  .opencode/opencode.jsonc
  .opencode/prompts/playwright-test-generator.md
  .opencode/prompts/playwright-test-healer.md
  .opencode/prompts/playwright-test-planner.md
Due: fmt

feat(workflows): adds update-labels workflow
  .github/workflows/update-labels.yml
Due: fmt

docs: add comprehensive README with usage examples
  README.md
Due: fmt

refactor: modularize codebase for library distribution
  .github/workflows/ci.yml
  Dockerfile
  README.md
  TODO-PLAN.md
  deno.json
  deno.lock
  main.ts
  src/client.ts
  src/config.ts
  src/config_test.ts
  src/logger.ts
  src/mod.ts
  src/sync.ts
  src/types.ts
Due: lint, fmt, typecheck, test

refactor(client): use @octokit/plugin-throttling for rate limiting
  .serena/.gitignore
  .serena/project.yml
  TODO-PLAN.md
  deno.json
  deno.lock
  src/client.ts
  src/mod.ts
Due: lint, fmt, typecheck, test

refactor: enable environment-specific GitHub client and logger implementations
  .lefthook.yml
  deno.json
  deno.lock
  src/adapters/actions-client.ts
  src/adapters/actions-logger.ts
  src/adapters/console-logger.ts
  src/adapters/octokit-client.ts
  src/client.ts
  src/factory.ts
  src/interfaces/github-client.ts
  src/interfaces/logger.ts
  src/mod.ts
Due: lint, fmt, typecheck, test

build: add publish workflow for JSR and NPM releases
  .github/workflows/docker-publish.yml
  .github/workflows/publish.yml
  AGENTS.md
  deno.json
Due: fmt

docs: update review command with project-specific guidelines and help
  .opencode/command/review.md
  .opencode/command/review.sh
Due: fmt

build: add CI security hardening, PR dry-run publishing, and automated version tagging
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-publish.yml
  .github/workflows/publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/security.yml
  .github/workflows/update-tags.yml
  Dockerfile
  README.md
Due: fmt

chore: bump version to 1.0.1
  deno.json
Due: fmt

fix: use numeric UID for non-root Docker user (Distroless compatibility)
  Dockerfile
Due: none

fix: copy Deno cache to production image for offline runtime
  Dockerfile
Due: none

chore: fix repository URL format for npm provenance and bump to 1.0.2
  deno.json
Due: fmt

docs: update install instructions for published packages
  AGENTS.md
  README.md
Due: fmt

fix: add Node.js shebang to npm bin entry for npx compatibility
  .lefthook.yml
  deno.json
  scripts/build_npm.ts
Due: lint, fmt, typecheck, test

build: simplify version tag automation with dedicated action
  .github/workflows/publish.yml
  .github/workflows/update-tags.yml
Due: fmt

refactor: use consistent v-prefixed version format across publish workflow
  .github/workflows/publish.yml
  .github/workflows/update-tags.yml
Due: fmt

docs: standardize opencode docs and prompts
  .opencode/agent/docs.md
  .opencode/agent/git-committer.md
  .opencode/command/commit.md
  .opencode/command/hello.md
  .opencode/command/issues.md
  .opencode/command/review.md
  .opencode/command/review.sh
  .opencode/command/spellcheck.md
  .opencode/command/suggest-refactor.md
  .opencode/command/suggest-refactor.sh
  .opencode/opencode.jsonc
  .opencode/prompts/playwright-test-generator.md
  .opencode/prompts/playwright-test-healer.md
  .opencode/prompts/playwright-test-planner.md
  .vscode/settings.json
Due: fmt

refactor: use @/ path aliases for cleaner imports
  main.ts
  src/adapters/actions-client.ts
  src/adapters/actions-logger.ts
  src/adapters/console-logger.ts
  src/adapters/octokit-client.ts
  src/client.ts
  src/config.ts
  src/config_test.ts
  src/factory.ts
  src/interfaces/github-client.ts
  src/mod.ts
  src/sync.ts
Due: lint, fmt, typecheck, test

docs: improve README with clearer install/run examples and badge links
  README.md
Due: fmt

ci: add workflow docs and improve developer tooling
  .github/workflows/README.md
  .github/workflows/docker-publish.yml
  .github/workflows/publish.yml
  .opencode/command/mermaid.md
  .opencode/command/review.md
  .opencode/command/review.sh
  .serena/project.yml
  .vscode/settings.json
Due: fmt

feat(editor): add Deno support configs
  .zed/debug.json
  .zed/settings.json
  .zed/tasks.json
Due: fmt

build: use short Deno permission flags and improve config organization
  .github/actions/check-schema-outdated/action.yml
  .github/workflows/ci.yml
  .lefthook.yml
  action.yml
  deno.json
Due: fmt

ci: extract reusable composite actions for publish workflow
  .github/actions/check-schema-outdated/action.yml
  .github/actions/publish-jsr/action.yml
  .github/actions/publish-npm/action.yml
  .github/actions/publish-npm/npm.sh
  .github/actions/release-validate/action.yml
  .github/actions/release-validate/validate.sh
  .github/actions/setup-deno/action.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-publish.yml
  .github/workflows/publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-labels.yml
  deno.json
Due: fmt

fix(ci): remove /action.yml suffix from setup-deno action path
  .github/workflows/ci.yml
Due: fmt

fix(action): use process.env for inputs and fix codeBlock method name
  .github/actions/check-schema-outdated/action.yml
Due: fmt

docker: fix permission denied error in GitHub Actions
  Dockerfile
Due: none

ci: add validation, error handling, and documentation to composite actions
  .github/actions/check-schema-outdated/action.yml
  .github/actions/publish-npm/npm.sh
  .github/actions/release-validate/action.yml
  .github/actions/release-validate/validate.sh
  .github/actions/setup-deno/action.yml
  src/testing.ts
Due: lint, fmt, typecheck, test

docker: fix GitHub Actions permission issues by converting to composite action
  Dockerfile
  action.yml
Due: fmt

chore(labels): replace legacy area labels with project-specific ones
  .github/labels.yml
Due: fmt

fix: resolve dry-run boolean parsing and summary markdown rendering
  .github/labels.yml
  .github/workflows/update-labels.yml
  src/adapters/logger/actions.ts
Due: lint, fmt, typecheck, test

refactor: use native addTable API for summary operations table
  src/adapters/logger/actions.ts
  src/adapters/logger/actions_test.ts
Due: lint, fmt, typecheck, test

fix(action): use core.summary.addTable for operations table
  src/adapters/logger/actions.ts
  src/adapters/logger/actions_test.ts
Due: lint, fmt, typecheck, test

feat(label): add test-summary label
  .github/labels.yml
Due: fmt

fix: ensure rename operations fully sync label properties
  action.yml
  src/adapters/client/actions.ts
  src/adapters/client/octokit_test.ts
  src/adapters/logger/actions.ts
  src/adapters/logger/actions_test.ts
  src/sync.ts
  src/sync_test.ts
  src/testing.ts
Due: lint, fmt, typecheck, test

feat(action): add check-schema-outdated action for CI validation
  .github/actions/check-schema-outdated/.gitattributes
  .github/actions/check-schema-outdated/.gitignore
  .github/actions/check-schema-outdated/.prettierignore
  .github/actions/check-schema-outdated/.prettierrc.yml
  .github/actions/check-schema-outdated/AGENTS.md
  .github/actions/check-schema-outdated/LICENSE
  .github/actions/check-schema-outdated/README.md
  .github/actions/check-schema-outdated/__fixtures__/core.ts
  .github/actions/check-schema-outdated/__fixtures__/exec.ts
  .github/actions/check-schema-outdated/__tests__/checkSchemaDiff.test.ts
  .github/actions/check-schema-outdated/__tests__/generateSchema.test.ts
  .github/actions/check-schema-outdated/__tests__/getCommitHash.test.ts
  .github/actions/check-schema-outdated/__tests__/main.test.ts
  .github/actions/check-schema-outdated/__tests__/mocks.ts
  .github/actions/check-schema-outdated/action.yml
  .github/actions/check-schema-outdated/actionlint.yml
  .github/actions/check-schema-outdated/bun-test.yaml
  .github/actions/check-schema-outdated/bun-test.yaml.d.ts
  .github/actions/check-schema-outdated/bun.lock
  .github/actions/check-schema-outdated/eslint.config.mjs
  .github/actions/check-schema-outdated/package.json
  .github/actions/check-schema-outdated/src/checkSchemaDiff.ts
  .github/actions/check-schema-outdated/src/generateSchema.ts
  .github/actions/check-schema-outdated/src/getCommitHash.ts
  .github/actions/check-schema-outdated/src/index.ts
  .github/actions/check-schema-outdated/src/main.ts
  .github/actions/check-schema-outdated/tsconfig.json
  .github/actions/check-schema-outdated/tsdown.config.ts
Due: lint, fmt, typecheck, test

feat(ci): add update-git-tags action and AI commit safeguards
  .commitlintrc.ts
  .github/actions/publish-npm/npm.sh
  .github/actions/update-git-tags/Dockerfile
  .github/actions/update-git-tags/LICENSE
  .github/actions/update-git-tags/README.md
  .github/actions/update-git-tags/action.yml
  .github/actions/update-git-tags/entrypoint.sh
  .github/actions/update-git-tags/entrypoint.ts
  .github/labels.schema.json
  .github/labels.yml
  .github/workflows/publish.yml
  .lefthook.yml
  .opencode/agent/analyzer.md
  .opencode/opencode.jsonc
  .shellcheckrc
  .vscode/settings.json
  .zed/settings.json
  AGENTS.md
  deno.json
  deno.lock
  labels-config.schema.json
Due: lint, fmt, typecheck, test

fix: expand hex normalization and schema validation
  .github/labels.schema.json
  .opencode/opencode.jsonc
  deno.json
  deno.lock
  scripts/build_schema_test.ts
  scripts/schema.ts
  src/adapters/client/actions.ts
  src/adapters/client/base.ts
  src/adapters/client/octokit.ts
  src/config.ts
  src/config_test.ts
  src/main_test.ts
  src/schema.ts
  src/sync.ts
  src/sync_test.ts
  src/types.ts
Due: lint, fmt, typecheck, test

refactor: add compile-time type-safe label validation with branded types
  .github/labels.schema.json
  .github/labels.yml
  deno.json
  deno.lock
  labels-config.schema.json
  labels.yml.d.ts
  main.ts
  scripts/build_npm.ts
  scripts/build_schema.ts
  scripts/build_schema_test.ts
  scripts/schema.ts
  scripts/sort-schema.ts
  src/adapters/client/actions.ts
  src/adapters/client/base.ts
  src/adapters/client/base_test.ts
  src/adapters/client/octokit.ts
  src/adapters/client/octokit_test.ts
  src/adapters/logger/actions.ts
  src/adapters/logger/actions_test.ts
  src/adapters/logger/console.ts
  src/adapters/logger/console_test.ts
  src/adapters/logger/types.ts
  src/client.ts
  src/client_test.ts
  src/config.ts
  src/config_test.ts
  src/factory.ts
  src/factory_test.ts
  src/labels-model.ts
  src/main_test.ts
  src/mod.ts
  src/schema.ts
  src/sync.ts
  src/sync_test.ts
  src/testing.ts
Due: lint, fmt, typecheck, test

Path conditions:
  lint: any of: *.ts
  fmt: any of: *.{ts,md,yml,yaml,json,jsonc}
  typecheck: any of: *.ts
  test: any of: *.ts
