Repository kjanat/github-labelmanager: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, test, schemagen

.lefthook.yml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/evilmartians/lefthook/master/schema.json
# https://lefthook.dev/configuration/
---
min_version: "1.5.0"

pre-commit:
  parallel: false # Sequential for deterministic order
  commands:
    ai-confirmation:
      priority: 1
      interactive: true
      run: |
        # Skip in CI environments
        { [ -n "$CI" ] || [ -n "$GITHUB_ACTIONS" ] || [ -n "$GITLAB_CI" ]; } && exit 0

        # Detect AI sessions (explicit env vars only, not [ ! -t 0 ])
        is_ai_session() {
          [ -n "$OPENCODE_SESSION" ] || \
          [ -n "$CURSOR_SESSION" ] || \
          [ -n "$AIDER_SESSION" ] || \
          [ -n "$CLINE_SESSION" ] || \
          [ -n "$CLAUDE_SESSION" ]
        }

        # Skip if human-verified or not AI session
        [ "$HUMAN_VERIFIED" = "1" ] && exit 0
        is_ai_session || exit 0

        echo "========================================"
        echo "AI-INITIATED COMMIT - APPROVAL REQUIRED"
        echo "========================================"
        echo ""
        git diff --cached --stat
        echo ""
        count=$(git diff --cached --name-only | wc -l)
        [ "$count" -gt 10 ] && echo "($count files total)"
        echo ""

        # Check for TTY
        if [ -t 0 ] && [ -t 1 ]; then
          printf "Approve? [y/N]: "
          read -r answer
        elif [ -e /dev/tty ]; then
          printf "Approve? [y/N]: " > /dev/tty
          read -r answer < /dev/tty
        else
          echo "ERROR: No TTY available for confirmation"
          echo "Options: HUMAN_VERIFIED=1 git commit -m '...'"
          exit 1
        fi

        [ "$answer" = "y" ] || [ "$answer" = "Y" ] || { echo "Rejected"; exit 1; }
        echo "Approved"
      skip:
        - merge
        - rebase

    lint:
      priority: 2
      glob: "*.ts"
      exclude: ".github/actions/**/*.ts"
      run: deno lint --fix {staged_files}
      stage_fixed: true

    fmt:
      priority: 3
      glob: "*.{ts,md,yml,yaml,json,jsonc}"
      run: deno fmt {staged_files}
      stage_fixed: true

    typecheck:
      priority: 4
      glob: "*.ts"
      exclude: ".github/actions/**/*.ts"
      run: deno check --all {staged_files}

    test:
      priority: 4
      glob: "src/*.ts"
      run: deno test -RWE {staged_files}

    schemagen:
      priority: 5
      glob: "src/types.ts"
      run: |
        set -e
        deno run -RWE scripts/build_schema.ts
        git add .github/labels.schema.json

commit-msg:
  commands:
    commitlint:
      run: deno run -A npm:@commitlint/cli --edit {1}

docs: add warning about singleton mock cross-test contamination
  .github/actions/comment-pkg-pr/__fixtures__/github.ts
Due: fmt

refactor: consolidate duplicate .prettierignore files
  .github/actions/.prettierignore
  .github/actions/comment-pkg-pr/.prettierignore
Due: none

refactor: add symlinks to shared .prettierignore in action dirs
  .github/actions/check-schema-outdated/.prettierignore
  .github/actions/comment-pkg-pr/.prettierignore
Due: none

refactor: consolidate ESLint configs with shared base
  .github/actions/check-schema-outdated/eslint.config.mjs
  .github/actions/comment-pkg-pr/eslint.config.mjs
  .github/actions/eslint.config.base.mjs
Due: none

fix: enable TypeScript-aware ESLint rules for shadow and unused vars
  .github/actions/eslint.config.base.mjs
Due: none

fix: reset getOctokit implementation in clearGitHubMocks()
  .github/actions/comment-pkg-pr/__fixtures__/github.ts
Due: fmt

test: add formatError test for real Error instance with status
  __tests__/src/client_test.ts
Due: fmt

fix: remove quotes from file paths in .env.example
  .github/actions/check-schema-outdated/.env.example
Due: none

fix: use ESM export syntax in YAML type declaration
  .github/actions/check-schema-outdated/bun-test.yaml.d.ts
Due: fmt

fix: display hex color code in summary table color column
  src/adapters/logger/actions.ts
Due: fmt, test

fix: remove dead ESLint rule overrides for unregistered plugins
  .github/actions/check-schema-outdated/eslint.config.mjs
Due: none

refactor: consolidate action tsconfig files with shared base
  .github/actions/check-schema-outdated/tsconfig.json
  .github/actions/comment-pkg-pr/tsconfig.json
  .github/actions/tsconfig.base.json
Due: fmt

refactor: use options object for LabelManager constructor DI
  __tests__/src/sync_test.ts
  main.ts
  src/client.ts
  src/testing.ts
Due: fmt, test

fix: use normalized color in rename update call
  src/sync.ts
Due: fmt, test

style: format sort-schema.ts with deno fmt
  scripts/sort-schema.ts
Due: fmt

refactor: add mapLabelResponse helper to DRY label mapping
  src/adapters/client/base.ts
Due: fmt, test

refactor: eliminate global state mutation in main tests
  __tests__/src/main_test.ts
  main.ts
  src/adapters/logger/actions.ts
  src/config.ts
  src/mod.ts
Due: fmt, test

chore: export main and MainOptions from mod.ts
  src/mod.ts
Due: fmt, test

refactor: improve config_test.ts consistency and parallel safety
  __tests__/src/config_test.ts
Due: fmt

fix: remove duplicate sortSchema call and add error handling
  scripts/build_schema.ts
Due: fmt

fix: validate pkg-pr-new output file structure
  .github/actions/comment-pkg-pr/__tests__/run.test.ts
  .github/actions/comment-pkg-pr/src/run.ts
Due: fmt

refactor: consolidate mock @actions/core into single utility
  __tests__/src/adapters/logger/actions_test.ts
  src/testing.ts
Due: fmt, test

refactor: avoid mutating validation.data in loadConfig
  src/config.ts
Due: fmt, test

chore: add old area labels to delete section
  .github/labels.yml
Due: fmt

test: clarify update test name to indicate non-rename path
  __tests__/src/adapters/client/base_test.ts
Due: fmt

refactor: consolidate GitHubLabelSchema type and add error handling to list()
  src/adapters/client/actions.ts
  src/adapters/client/octokit.ts
Due: fmt, test

fix: correct rename summary accounting and # prefix test
  __tests__/src/sync_test.ts
  src/sync.ts
Due: fmt, test

docs: clarify update-npm requires install-node in setup-deno action
  .github/actions/setup-deno/action.yml
Due: fmt

test: assert specific error message for JSON parse errors in run()
  .github/actions/comment-pkg-pr/__tests__/run.test.ts
Due: fmt

fix: align checkSchemaDiff test with implementation
  .github/actions/check-schema-outdated/__tests__/checkSchemaDiff.test.ts
Due: fmt

docs: fix markdown lint MD031 - add blank lines around code blocks
  .github/actions/update-git-tags/README.md
Due: fmt

fix: remove dead code - TAG emptiness check after defaulting
  .github/actions/publish-npm/npm.sh
Due: none

fix: replace as never with as unknown as Octokit in comment tests
  .github/actions/comment-pkg-pr/__tests__/comment.test.ts
Due: fmt

refactor: use as const satisfies for testConfig in octokit tests
  __tests__/src/adapters/client/octokit_test.ts
Due: fmt
